<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rock -paper-scissors game assignment</title>
</head>
<body><center>
    <img src="{{ url_for('static', filename='rock.png') }}"><img src="{{ url_for('static', filename='paper.png') }}"><img src="{{ url_for('static', filename='scissors.png') }}">
    <form method="post" action="/game">
        <select id="game" name="game">
            <option value="rock">rock</option>
            <option value="paper">paper</option>
            <option value="scissors">scissors</option>
        </select>
        <input type="submit" value="GO!">

    </form>
    <div class "result">

    <p>You picked: {{first}}</p>
   <p> The computer picked:{{second}}</p>
   <p> You : {{third}}</p>
   <table border=1>
   <tr>
       <th>Wins</th><th>Loses</th><th>ties</th>
   </tr>
   <tr>
       <td>{{fourth}}</td><td>{{fifth}}</td><td>{{sixth}}</td>
   </tr>
   </table>
    </div>

    </center>
</body>
</html>