<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books/Authors with templates  Django</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <div class="frm">
            <h3>Add a New Show</h3>
            <form method="POST" action="/shows/{{show.id}}/edit2">{% csrf_token %}
                Title:<input type="text"  name="title" value="{{show.title}}"><br><br>
                Network:<input type="text"  name="network" value="{{show.network}}"><br><br>
                Release Date:<input type="date"  name="date" value="{{show.release_date}}"><br><br>
                Description:<input type="textarea" name="description" value="{{show.description}}"><br><br>
                <input type="submit" value="Update"><br><br>
                <a href="/shows/{{show.id}}">Go to Show</a>
            </form>
        </div>
    </div>
</body>
</html>