<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Teacher form
    <form method="post" action="/addteacher">
        {%csrf_token%}
        <p>Name:<input type='text' name='tname'></p>
        <p><input type='submit' value='send'></p>

    </form>
    <hr>
    Studentform
    <form method="post" action="/addstudent">
        {%csrf_token%}
        <p>Name:<input type='text' name='sname'></p>
        <p><select name='teacher'>
            {%for tch in teachers%}
            <option value="{{tch.id}}">{{tch.name}}</option>
            {%endfor%}
        </select></p>
        <p><input type='submit' value='send'></p>

    </form>
    <hr>
    {%for tch in teachers%}
    <ul>{{tch.name}}
        {%for stu in tch.students.all%}
        <li>{{stu.name}}</li>
        {%endfor%}

    </ul>
    {%endfor%}
</body>
</html>